.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  background: #000000;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .root {
    padding: 30px 15px;
  }
}
.freeBox__e64Cz {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 64px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__e64Cz {
    padding: 27px 30px 34px 27px;
  }
}
.freeBox__cDMt5 {
  display: flex;
  position: relative;
  max-width: var(--token-WaHsQhkWfB86);
  flex-direction: row;
  width: 100%;
  min-width: 0;
  padding: var(--token-nYdLj2DLL6A1);
}
.freeBox__cDMt5 > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.freeBox__cDMt5 > :global(.__wab_flex-container) > *,
.freeBox__cDMt5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cDMt5 > :global(.__wab_flex-container) > picture > img,
.freeBox__cDMt5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__cDMt5 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__cDMt5 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__cDMt5 > :global(.__wab_flex-container) > *,
  .freeBox__cDMt5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__cDMt5 > :global(.__wab_flex-container) > picture > img,
  .freeBox__cDMt5
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.freeBox__tl4Y1 {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.freeBox__tl4Y1 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__tl4Y1 > :global(.__wab_flex-container) > *,
.freeBox__tl4Y1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tl4Y1 > :global(.__wab_flex-container) > picture > img,
.freeBox__tl4Y1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__hjmeS {
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: stretch;
}
.h3__t6Ts {
  position: relative;
  left: auto;
  top: auto;
  height: auto;
  color: var(--token-09vH_5U6rRbV);
  font-size: 24px;
  width: auto;
  flex-grow: 0;
  flex-shrink: 1;
}
.text__jmPva {
  color: var(--token-09vH_5U6rRbV);
  position: relative;
  left: auto;
  top: auto;
  margin-bottom: 3px;
  margin-top: 18px;
}
.text__i2Sh {
  color: var(--token-09vH_5U6rRbV);
  position: relative;
  left: auto;
  top: auto;
}
.freeBox__xdKxw {
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
}
.freeBox__xdKxw > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__xdKxw > :global(.__wab_flex-container) > *,
.freeBox__xdKxw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xdKxw > :global(.__wab_flex-container) > picture > img,
.freeBox__xdKxw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.link__galL8 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__vAl1G {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token--3vyRdkMo0SP);
  flex-shrink: 0;
}
.link__tghKe {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__sqsRu {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token--3vyRdkMo0SP);
  flex-shrink: 0;
}
.link__opGyo {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg___1Sf4B {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token--3vyRdkMo0SP);
  flex-shrink: 0;
}
.freeBox__dHe0G {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox__dHe0G > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__dHe0G > :global(.__wab_flex-container) > *,
.freeBox__dHe0G > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dHe0G > :global(.__wab_flex-container) > picture > img,
.freeBox__dHe0G
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h3__wqDjX {
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-09vH_5U6rRbV);
  padding-bottom: 0px;
  margin-top: calc(0px + 16px) !important;
}
.link__hkmRf {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__hkmRf > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__hkmRf > :global(.__wab_flex-container) > *,
.link__hkmRf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__hkmRf > :global(.__wab_flex-container) > picture > img,
.link__hkmRf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__b5XeC {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__lfysO {
  color: var(--token-09vH_5U6rRbV);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  letter-spacing: 0px;
  font-weight: 400;
  line-height: 26px;
  height: auto;
}
.svg__z4Dob {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__z81WN {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__z81WN > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__z81WN > :global(.__wab_flex-container) > *,
.link__z81WN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__z81WN > :global(.__wab_flex-container) > picture > img,
.link__z81WN
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__iAtb0 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__nybwf {
  color: var(--token-09vH_5U6rRbV);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  letter-spacing: 0px;
  font-weight: 400;
  line-height: 26px;
  height: auto;
}
.svg__dmMV {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.freeBox__wd4QA {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  height: 142px;
  flex-grow: 0;
  flex-shrink: 1;
  margin-right: 0px;
  min-width: 0;
  padding: 0px;
}
.freeBox__wd4QA > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-nYdLj2DLL6A1));
  height: calc(100% + var(--token-nYdLj2DLL6A1));
}
.freeBox__wd4QA > :global(.__wab_flex-container) > *,
.freeBox__wd4QA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wd4QA > :global(.__wab_flex-container) > picture > img,
.freeBox__wd4QA
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-nYdLj2DLL6A1);
}
.h3__dgCyy {
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-09vH_5U6rRbV);
  height: auto;
  margin-top: calc(0px + var(--token-nYdLj2DLL6A1)) !important;
}
.link__znaT {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__znaT > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__znaT > :global(.__wab_flex-container) > *,
.link__znaT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__znaT > :global(.__wab_flex-container) > picture > img,
.link__znaT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__sVfQf {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__ui45I {
  color: var(--token-09vH_5U6rRbV);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  letter-spacing: 0px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 12px;
  height: 36px;
}
.svg__uV6Fa {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__qdYI {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__qdYI > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__qdYI > :global(.__wab_flex-container) > *,
.link__qdYI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__qdYI > :global(.__wab_flex-container) > picture > img,
.link__qdYI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg___9Db5N {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__vV0La {
  color: var(--token-09vH_5U6rRbV);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  letter-spacing: 0px;
  font-weight: 400;
  line-height: 26px;
}
.svg__r84R {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
