@import url("https://fonts.googleapis.com/css2?family=Poppins%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B1%2C300%3B1%2C400%3B1%2C500%3B1%2C600%3B1%2C700&family=Raleway%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B1%2C300%3B1%2C400%3B1%2C500%3B1%2C600%3B1%2C700&family=Inter%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Playfair+Display%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B1%2C400%3B1%2C500%3B1%2C600%3B1%2C700&family=Montserrat%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B1%2C300%3B1%2C400%3B1%2C500%3B1%2C600%3B1%2C700&display=swap");

.plasmic_tokens {
  --token-3VUYEswfZ4YP: #d8edea;
  --plasmic-token-unnamed-style-token: var(--token-3VUYEswfZ4YP);
  --token-09vH_5U6rRbV: #ffffff;
  --plasmic-token-white: var(--token-09vH_5U6rRbV);
  --token--3vyRdkMo0SP: #fe5737;
  --plasmic-token-orange: var(--token--3vyRdkMo0SP);
  --token-QPQ3-pmIN9SW: #222222;
  --plasmic-token-heading-h-2: var(--token-QPQ3-pmIN9SW);
  --token-WaHsQhkWfB86: 1680px;
  --plasmic-token-container-mixin: var(--token-WaHsQhkWfB86);
  --token-nYdLj2DLL6A1: 0px;
  --plasmic-token-pading-container: var(--token-nYdLj2DLL6A1);
  --token-SaPsqIzkU1y4: #2563eb;
  --plasmic-token-brand-brand: var(--token-SaPsqIzkU1y4);
  --token-Ckx8kMtgdm6j: 0.5rem;
  --plasmic-token-size-8: var(--token-Ckx8kMtgdm6j);
  --token-5AwodBIimI2W: Inter;
  --plasmic-token-sans-serif: var(--token-5AwodBIimI2W);
  --token-TrwQRdyCpnli: 1rem;
  --plasmic-token-font-md: var(--token-TrwQRdyCpnli);
  --token-ktIC-L9WMK2O: 1.25;
  --plasmic-token-line-height-md: var(--token-ktIC-L9WMK2O);
  --token-e3sbgq6QmES4: 0.375rem;
  --plasmic-token-size-6: var(--token-e3sbgq6QmES4);
  --token-jTGnNFS6oOFO: #374151;
  --plasmic-token-neutral-neutral: var(--token-jTGnNFS6oOFO);
  --token-oj5fbPgKezcY: #dc2626;
  --plasmic-token-destructive-destructive: var(--token-oj5fbPgKezcY);
  --token-HmLLzNINPyjd: #6b7280;
  --plasmic-token-muted-muted: var(--token-HmLLzNINPyjd);
  --token-VMnOJU9C_XVa: 0.25rem;
  --plasmic-token-size-4: var(--token-VMnOJU9C_XVa);
  --token-QBlAE-_q0L6m: 0.75rem;
  --plasmic-token-font-sm: var(--token-QBlAE-_q0L6m);
  --token-kN6xeGi2G-e2: 1;
  --plasmic-token-line-height-sm: var(--token-kN6xeGi2G-e2);
  --token-U71TgvWbCGEd: 1.25rem;
  --plasmic-token-font-lg: var(--token-U71TgvWbCGEd);
  --token-pjrtY_Fe7K1p: 1.4;
  --plasmic-token-line-height-lg: var(--token-pjrtY_Fe7K1p);
  --token-KqTRx-lFEZNp: 0.125rem;
  --plasmic-token-size-2: var(--token-KqTRx-lFEZNp);
  --token-yIe-60YkVfZ-: #16a34a;
  --plasmic-token-success-success: var(--token-yIe-60YkVfZ-);
  --token-vWVBX73OsH1E: #facc15;
  --plasmic-token-warning-warning: var(--token-vWVBX73OsH1E);
  --token-2KhmfQAQTR7g: #dbeafe;
  --plasmic-token-brand-brand-soft: var(--token-2KhmfQAQTR7g);
  --token-LwkeuC9C1Cb3: #e5e7eb;
  --plasmic-token-neutral-neutral-soft: var(--token-LwkeuC9C1Cb3);
  --token-NtYKsxN_2K4b: #f3f4f6;
  --plasmic-token-muted-muted-soft: var(--token-NtYKsxN_2K4b);
  --token-XR-5C7SggV44: #dcfce7;
  --plasmic-token-success-success-soft: var(--token-XR-5C7SggV44);
  --token-EAHFqqbyOqN4: #fef9c3;
  --plasmic-token-warning-warning-soft: var(--token-EAHFqqbyOqN4);
  --token-8MkBb-oQWifs: #fee2e2;
  --plasmic-token-destructive-destructive-soft: var(--token-8MkBb-oQWifs);
  --token-Iq1Y9bJtxOUJ: #93c5fd;
  --plasmic-token-brand-brand-border: var(--token-Iq1Y9bJtxOUJ);
  --token-v7ZdQRE9DVL1: #d1d5db;
  --plasmic-token-neutral-neutral-border: var(--token-v7ZdQRE9DVL1);
  --token-sUyvP8AWt87K: #e5e7eb;
  --plasmic-token-muted-muted-border: var(--token-sUyvP8AWt87K);
  --token-Nd7GsdXFmN5g: #86efac;
  --plasmic-token-success-success-border: var(--token-Nd7GsdXFmN5g);
  --token-6WQnUA-rom-S: #fde047;
  --plasmic-token-warning-warning-border: var(--token-6WQnUA-rom-S);
  --token-a4mo_aD92pEV: #fca5a5;
  --plasmic-token-destructive-destructive-border: var(--token-a4mo_aD92pEV);
  --token-_CF_ZqCN1_UN: #0000001a;
  --plasmic-token-interaction-hovered: var(--token-_CF_ZqCN1_UN);
  --token-JeSgSRC220M3: #ffffff40;
  --plasmic-token-interaction-disabled: var(--token-JeSgSRC220M3);
  --token-fXRvReJyFsr2: #00000033;
  --plasmic-token-interaction-pressed: var(--token-fXRvReJyFsr2);
  --token-euYcsWTPRfzA: 0.625rem;
  --plasmic-token-size-10: var(--token-euYcsWTPRfzA);
  --token-GbCj6zBHvKwQ: 0.75rem;
  --plasmic-token-size-12: var(--token-GbCj6zBHvKwQ);
  --token-bWG2uOgsVuQj: #eff6ff;
  --plasmic-token-brand-brand-foreground: var(--token-bWG2uOgsVuQj);
  --token-s6Bwu1A1VeYQ: #f9fafb;
  --plasmic-token-neutral-neutral-foreground: var(--token-s6Bwu1A1VeYQ);
  --token-mYWYgYiR7zl1: #e5e7eb;
  --plasmic-token-muted-muted-foreground: var(--token-mYWYgYiR7zl1);
  --token-89nAp1UPj5LT: #1e3a8a;
  --plasmic-token-brand-brand-soft-foreground: var(--token-89nAp1UPj5LT);
  --token--mStlAKsz2XG: #422006;
  --plasmic-token-warning-warning-foreground: var(--token--mStlAKsz2XG);
  --token-xn1xoZFXtIAx: #f0fdf4;
  --plasmic-token-success-success-foreground: var(--token-xn1xoZFXtIAx);
  --token-BjcyzLNLRBtu: #fef2f2;
  --plasmic-token-destructive-destructive-foreground: var(--token-BjcyzLNLRBtu);
  --token-pLvSZtDXWFwA: #111827;
  --plasmic-token-neutral-neutral-soft-foreground: var(--token-pLvSZtDXWFwA);
  --token-s13IfVqMuWd8: #6b7280;
  --plasmic-token-muted-muted-soft-foreground: var(--token-s13IfVqMuWd8);
  --token-rVy4IJEn6-4-: #14532d;
  --plasmic-token-success-success-soft-foreground: var(--token-rVy4IJEn6-4-);
  --token-SnvQoKjeEr01: #713f12;
  --plasmic-token-warning-warning-soft-foreground: var(--token-SnvQoKjeEr01);
  --token-rke-JAd2uOrP: #7f1d1d;
  --plasmic-token-destructive-destructive-soft-foreground: var(
    --token-rke-JAd2uOrP
  );
  --token-KuN8DLd3m5x_: 2rem;
  --plasmic-token-size-32: var(--token-KuN8DLd3m5x_);
  --token-hteRoD9j0mNQ: #6b7280;
  --plasmic-token-basic-text-secondary: var(--token-hteRoD9j0mNQ);
  --token-JJkiaZ2lc7C5: #030712;
  --plasmic-token-basic-text-primary: var(--token-JJkiaZ2lc7C5);
  --token-RCNEhowFmpAj: #d1d5db;
  --plasmic-token-basic-border: var(--token-RCNEhowFmpAj);
  --token-FL56OwBCTQg2: #e5e7eb;
  --plasmic-token-muted-muted-soft-hover: var(--token-FL56OwBCTQg2);
  --token-DTnmRdY7EjDX: var(--token-0tl2H1TRPHhV);
  --plasmic-token-size-16: var(--token-DTnmRdY7EjDX);
  --token-ZFNEFeLZsSL8: var(--token-ekJK2BNXfyOR);
  --plasmic-token-size-24: var(--token-ZFNEFeLZsSL8);
  --token-A0QVyJ6ycndT: #ffffff;
  --plasmic-token-basic-container-background: var(--token-A0QVyJ6ycndT);
  --token-qnj-r42KEaco: var(--token-TONjX_YbO9_T);
  --plasmic-token-size-20: var(--token-qnj-r42KEaco);
  --token-iw2t17NFD8w0: var(--token-RN6-6smk2YHi);
  --plasmic-token-basic-ring: var(--token-iw2t17NFD8w0);
  --token-RdSJvrjxTlbG: var(--token-YTNNB1KtOvN9);
  --plasmic-token-basic-input-background: var(--token-RdSJvrjxTlbG);
  --token-qUBtuSJeFB9N: #0a0a0a80;
  --plasmic-token-basic-overlay-background: var(--token-qUBtuSJeFB9N);
  --token-PN4FaMtvk_4J: var(--token-c-y4Lbl8pLuG);
  --plasmic-token-basic-container-background-dark: var(--token-PN4FaMtvk_4J);
  --token-x6fbbgUdfH8z: 200px;
  --plasmic-token-unnamed-style-token-2: var(--token-x6fbbgUdfH8z);
  --token-uUbzPUFhjh7z: 50px;
  --plasmic-token-unnamed-style-token-3: var(--token-uUbzPUFhjh7z);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-gGCeLrttwzS9_font-family: "Poppins", sans-serif;
  --mixin-gGCeLrttwzS9_font-size: 16px;
  --mixin-gGCeLrttwzS9_font-weight: 300;
  --mixin-gGCeLrttwzS9_font-style: normal;
  --mixin-gGCeLrttwzS9_color: #222222;
  --mixin-gGCeLrttwzS9_text-align: left;
  --mixin-gGCeLrttwzS9_text-transform: none;
  --mixin-gGCeLrttwzS9_line-height: 1.65;
  --mixin-gGCeLrttwzS9_letter-spacing: normal;
  --mixin-gGCeLrttwzS9_white-space: pre-wrap;
  --mixin-gGCeLrttwzS9_user-select: text;
  --mixin-gGCeLrttwzS9_text-decoration-line: none;
  --mixin-gGCeLrttwzS9_text-overflow: clip;
  --mixin-K7gIMe0X1AO7_color: var(--token-09vH_5U6rRbV);
  --mixin-K7gIMe0X1AO7_font-weight: 600;
  --mixin-K7gIMe0X1AO7_font-size: 65px;
  --mixin-K7gIMe0X1AO7_line-height: 1.1;
  --mixin-K7gIMe0X1AO7_margin-top: 0px;
  --mixin-K7gIMe0X1AO7_margin-right: 0px;
  --mixin-K7gIMe0X1AO7_margin-bottom: 0px;
  --mixin-K7gIMe0X1AO7_margin-left: 0px;
  --mixin-K7gIMe0X1AO7_font-family: "Raleway", sans-serif;
  --mixin-K7gIMe0X1AO7_text-transform: uppercase;
  --mixin-K7gIMe0X1AO7_box-shadow: none;
  --mixin-K7gIMe0X1AO7_backdrop-filter: none;
  --mixin-K7gIMe0X1AO7_white-space: pre-wrap;
  --mixin-hJR1-USx2PvV_color: var(--token-QPQ3-pmIN9SW);
  --mixin-hJR1-USx2PvV_font-weight: 600;
  --mixin-hJR1-USx2PvV_font-size: 38px;
  --mixin-hJR1-USx2PvV_line-height: 1.2;
  --mixin-hJR1-USx2PvV_font-family: "Raleway", sans-serif;
  --mixin-hJR1-USx2PvV_margin-top: 0px;
  --mixin-hJR1-USx2PvV_margin-right: 0px;
  --mixin-hJR1-USx2PvV_margin-bottom: 0px;
  --mixin-hJR1-USx2PvV_margin-left: 0px;
  --mixin-hJR1-USx2PvV_white-space: pre-wrap;
  --mixin-bSDWlasC6xlU_color: var(--token--3vyRdkMo0SP);
  --mixin-bSDWlasC6xlU_font-family: "Poppins", sans-serif;
  --mixin-bSDWlasC6xlU_font-weight: 300;
  --mixin-bSDWlasC6xlU_font-size: 17px;
  --mixin-bSDWlasC6xlU_line-height: 1.65;
  --mixin-bSDWlasC6xlU_white-space: pre-wrap;
  --mixin-8Gp3JdoQDLV-_color: #000000;
  --mixin-8Gp3JdoQDLV-_font-weight: 500;
  --mixin-8Gp3JdoQDLV-_font-size: 24px;
  --mixin-8Gp3JdoQDLV-_line-height: 1.2;
  --mixin-8Gp3JdoQDLV-_font-family: "Poppins", sans-serif;
  --mixin-8Gp3JdoQDLV-_margin-top: 0px;
  --mixin-8Gp3JdoQDLV-_margin-right: 0px;
  --mixin-8Gp3JdoQDLV-_margin-bottom: 0px;
  --mixin-8Gp3JdoQDLV-_margin-left: 0px;
  --mixin-8Gp3JdoQDLV-_white-space: pre-wrap;
  --mixin-FCFwywrGi8Yw_font-family: "Inter", sans-serif;
  --mixin-FCFwywrGi8Yw_color: #000000;
  --mixin-FCFwywrGi8Yw_font-size: 24px;
  --mixin-FCFwywrGi8Yw_font-weight: 600;
  --mixin-FCFwywrGi8Yw_letter-spacing: -0.5px;
  --mixin-FCFwywrGi8Yw_line-height: 1.3;
  --mixin-FCFwywrGi8Yw_white-space: pre-wrap;
  --mixin-81TZkl4XJgej_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-81TZkl4XJgej_border-bottom-color: #dddddd;
  --mixin-81TZkl4XJgej_border-bottom-style: solid;
  --mixin-81TZkl4XJgej_border-bottom-width: 1px;
  --mixin-81TZkl4XJgej_border-left-color: #dddddd;
  --mixin-81TZkl4XJgej_border-left-style: solid;
  --mixin-81TZkl4XJgej_border-left-width: 1px;
  --mixin-81TZkl4XJgej_border-right-color: #dddddd;
  --mixin-81TZkl4XJgej_border-right-style: solid;
  --mixin-81TZkl4XJgej_border-right-width: 1px;
  --mixin-81TZkl4XJgej_border-top-color: #dddddd;
  --mixin-81TZkl4XJgej_border-top-style: solid;
  --mixin-81TZkl4XJgej_border-top-width: 1px;
  --mixin-81TZkl4XJgej_border-bottom-left-radius: 3px;
  --mixin-81TZkl4XJgej_border-bottom-right-radius: 3px;
  --mixin-81TZkl4XJgej_border-top-left-radius: 3px;
  --mixin-81TZkl4XJgej_border-top-right-radius: 3px;
  --mixin-81TZkl4XJgej_font-family: "Inconsolata";
  --mixin-81TZkl4XJgej_padding-bottom: 1px;
  --mixin-81TZkl4XJgej_padding-left: 4px;
  --mixin-81TZkl4XJgej_padding-right: 4px;
  --mixin-81TZkl4XJgej_padding-top: 1px;
  --mixin-81TZkl4XJgej_white-space: pre-wrap;
  --mixin-5HRoVZewesqt_margin-top: 0px;
  --mixin-5HRoVZewesqt_margin-right: 0px;
  --mixin-5HRoVZewesqt_margin-bottom: 10px;
  --mixin-5HRoVZewesqt_margin-left: 0px;
  --mixin-5HRoVZewesqt_color: #ca7716;
  --mixin-5HRoVZewesqt_font-family: "Playfair Display", serif;
  --mixin-5HRoVZewesqt_font-size: 18px;
  --mixin-5HRoVZewesqt_line-height: 1.5;
  --mixin-5HRoVZewesqt_white-space: pre-wrap;
  --mixin-Zq7Rtnd0yoHu_font-family: "Inter", sans-serif;
  --mixin-Zq7Rtnd0yoHu_color: #000000;
  --mixin-Zq7Rtnd0yoHu_font-size: 16px;
  --mixin-Zq7Rtnd0yoHu_font-weight: 600;
  --mixin-Zq7Rtnd0yoHu_line-height: 1.5;
  --mixin-Zq7Rtnd0yoHu_white-space: pre-wrap;
  --mixin-d-4pqON47lha_border-left-color: #dddddd;
  --mixin-d-4pqON47lha_border-left-style: solid;
  --mixin-d-4pqON47lha_border-left-width: 3px;
  --mixin-d-4pqON47lha_color: #888888;
  --mixin-d-4pqON47lha_padding-left: 10px;
  --mixin-d-4pqON47lha_white-space: pre-wrap;
  --mixin-epAYtRjCy1J2_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-epAYtRjCy1J2_border-bottom-color: #dddddd;
  --mixin-epAYtRjCy1J2_border-bottom-style: solid;
  --mixin-epAYtRjCy1J2_border-bottom-width: 1px;
  --mixin-epAYtRjCy1J2_border-left-color: #dddddd;
  --mixin-epAYtRjCy1J2_border-left-style: solid;
  --mixin-epAYtRjCy1J2_border-left-width: 1px;
  --mixin-epAYtRjCy1J2_border-right-color: #dddddd;
  --mixin-epAYtRjCy1J2_border-right-style: solid;
  --mixin-epAYtRjCy1J2_border-right-width: 1px;
  --mixin-epAYtRjCy1J2_border-top-color: #dddddd;
  --mixin-epAYtRjCy1J2_border-top-style: solid;
  --mixin-epAYtRjCy1J2_border-top-width: 1px;
  --mixin-epAYtRjCy1J2_border-bottom-left-radius: 3px;
  --mixin-epAYtRjCy1J2_border-bottom-right-radius: 3px;
  --mixin-epAYtRjCy1J2_border-top-left-radius: 3px;
  --mixin-epAYtRjCy1J2_border-top-right-radius: 3px;
  --mixin-epAYtRjCy1J2_font-family: "Inconsolata";
  --mixin-epAYtRjCy1J2_padding-bottom: 3px;
  --mixin-epAYtRjCy1J2_padding-left: 6px;
  --mixin-epAYtRjCy1J2_padding-right: 6px;
  --mixin-epAYtRjCy1J2_padding-top: 3px;
  --mixin-epAYtRjCy1J2_white-space: pre-wrap;
  --mixin-5olbzNECzFUy_display: flex;
  --mixin-5olbzNECzFUy_flex-direction: column;
  --mixin-5olbzNECzFUy_align-items: stretch;
  --mixin-5olbzNECzFUy_justify-content: flex-start;
  --mixin-5olbzNECzFUy_list-style-position: outside;
  --mixin-5olbzNECzFUy_padding-left: 40px;
  --mixin-5olbzNECzFUy_position: relative;
  --mixin-5olbzNECzFUy_list-style-type: decimal;
  --mixin-5olbzNECzFUy_white-space: pre-wrap;
  --mixin-VEskhuP8L1rA_display: flex;
  --mixin-VEskhuP8L1rA_flex-direction: column;
  --mixin-VEskhuP8L1rA_align-items: stretch;
  --mixin-VEskhuP8L1rA_justify-content: flex-start;
  --mixin-VEskhuP8L1rA_list-style-position: outside;
  --mixin-VEskhuP8L1rA_padding-left: 40px;
  --mixin-VEskhuP8L1rA_position: relative;
  --mixin-VEskhuP8L1rA_list-style-type: disc;
  --mixin-VEskhuP8L1rA_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-VHyaHFvPGjvh_white-space: pre-wrap;
  --plasmic-mixin-footer-menu-text_white-space: var(
    --mixin-VHyaHFvPGjvh_white-space
  );
  --mixin-pAcvZRHlrsYl_white-space: pre-wrap;
  --plasmic-mixin-padding-section_white-space: var(
    --mixin-pAcvZRHlrsYl_white-space
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-gGCeLrttwzS9_font-family);
  font-size: var(--mixin-gGCeLrttwzS9_font-size);
  font-weight: var(--mixin-gGCeLrttwzS9_font-weight);
  font-style: var(--mixin-gGCeLrttwzS9_font-style);
  color: var(--mixin-gGCeLrttwzS9_color);
  text-align: var(--mixin-gGCeLrttwzS9_text-align);
  text-transform: var(--mixin-gGCeLrttwzS9_text-transform);
  line-height: var(--mixin-gGCeLrttwzS9_line-height);
  letter-spacing: var(--mixin-gGCeLrttwzS9_letter-spacing);
  white-space: var(--mixin-gGCeLrttwzS9_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-K7gIMe0X1AO7_color);
  font-weight: var(--mixin-K7gIMe0X1AO7_font-weight);
  font-size: var(--mixin-K7gIMe0X1AO7_font-size);
  line-height: var(--mixin-K7gIMe0X1AO7_line-height);
  font-family: var(--mixin-K7gIMe0X1AO7_font-family);
  text-transform: var(--mixin-K7gIMe0X1AO7_text-transform);
  box-shadow: var(--mixin-K7gIMe0X1AO7_box-shadow);
  backdrop-filter: var(--mixin-K7gIMe0X1AO7_backdrop-filter);
  margin: var(--mixin-K7gIMe0X1AO7_margin-top)
    var(--mixin-K7gIMe0X1AO7_margin-right)
    var(--mixin-K7gIMe0X1AO7_margin-bottom)
    var(--mixin-K7gIMe0X1AO7_margin-left);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-hJR1-USx2PvV_color);
  font-weight: var(--mixin-hJR1-USx2PvV_font-weight);
  font-size: var(--mixin-hJR1-USx2PvV_font-size);
  line-height: var(--mixin-hJR1-USx2PvV_line-height);
  font-family: var(--mixin-hJR1-USx2PvV_font-family);
  margin: var(--mixin-hJR1-USx2PvV_margin-top)
    var(--mixin-hJR1-USx2PvV_margin-right)
    var(--mixin-hJR1-USx2PvV_margin-bottom)
    var(--mixin-hJR1-USx2PvV_margin-left);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-bSDWlasC6xlU_color);
  font-family: var(--mixin-bSDWlasC6xlU_font-family);
  font-weight: var(--mixin-bSDWlasC6xlU_font-weight);
  font-size: var(--mixin-bSDWlasC6xlU_font-size);
  line-height: var(--mixin-bSDWlasC6xlU_line-height);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-8Gp3JdoQDLV-_color);
  font-weight: var(--mixin-8Gp3JdoQDLV-_font-weight);
  font-size: var(--mixin-8Gp3JdoQDLV-_font-size);
  line-height: var(--mixin-8Gp3JdoQDLV-_line-height);
  font-family: var(--mixin-8Gp3JdoQDLV-_font-family);
  margin: var(--mixin-8Gp3JdoQDLV-_margin-top)
    var(--mixin-8Gp3JdoQDLV-_margin-right)
    var(--mixin-8Gp3JdoQDLV-_margin-bottom)
    var(--mixin-8Gp3JdoQDLV-_margin-left);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-family: var(--mixin-FCFwywrGi8Yw_font-family);
  color: var(--mixin-FCFwywrGi8Yw_color);
  font-size: var(--mixin-FCFwywrGi8Yw_font-size);
  font-weight: var(--mixin-FCFwywrGi8Yw_font-weight);
  letter-spacing: var(--mixin-FCFwywrGi8Yw_letter-spacing);
  line-height: var(--mixin-FCFwywrGi8Yw_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-81TZkl4XJgej_font-family);
  border-radius: var(--mixin-81TZkl4XJgej_border-top-left-radius)
    var(--mixin-81TZkl4XJgej_border-top-right-radius)
    var(--mixin-81TZkl4XJgej_border-bottom-right-radius)
    var(--mixin-81TZkl4XJgej_border-bottom-left-radius);
  padding: var(--mixin-81TZkl4XJgej_padding-top)
    var(--mixin-81TZkl4XJgej_padding-right)
    var(--mixin-81TZkl4XJgej_padding-bottom)
    var(--mixin-81TZkl4XJgej_padding-left);
  border-top: var(--mixin-81TZkl4XJgej_border-top-width)
    var(--mixin-81TZkl4XJgej_border-top-style)
    var(--mixin-81TZkl4XJgej_border-top-color);
  border-right: var(--mixin-81TZkl4XJgej_border-right-width)
    var(--mixin-81TZkl4XJgej_border-right-style)
    var(--mixin-81TZkl4XJgej_border-right-color);
  border-bottom: var(--mixin-81TZkl4XJgej_border-bottom-width)
    var(--mixin-81TZkl4XJgej_border-bottom-style)
    var(--mixin-81TZkl4XJgej_border-bottom-color);
  border-left: var(--mixin-81TZkl4XJgej_border-left-width)
    var(--mixin-81TZkl4XJgej_border-left-style)
    var(--mixin-81TZkl4XJgej_border-left-color);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-5HRoVZewesqt_color);
  font-family: var(--mixin-5HRoVZewesqt_font-family);
  font-size: var(--mixin-5HRoVZewesqt_font-size);
  line-height: var(--mixin-5HRoVZewesqt_line-height);
  margin: var(--mixin-5HRoVZewesqt_margin-top)
    var(--mixin-5HRoVZewesqt_margin-right)
    var(--mixin-5HRoVZewesqt_margin-bottom)
    var(--mixin-5HRoVZewesqt_margin-left);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-Zq7Rtnd0yoHu_font-family);
  color: var(--mixin-Zq7Rtnd0yoHu_color);
  font-size: var(--mixin-Zq7Rtnd0yoHu_font-size);
  font-weight: var(--mixin-Zq7Rtnd0yoHu_font-weight);
  line-height: var(--mixin-Zq7Rtnd0yoHu_line-height);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-d-4pqON47lha_color);
  padding-left: var(--mixin-d-4pqON47lha_padding-left);
  border-left: var(--mixin-d-4pqON47lha_border-left-width)
    var(--mixin-d-4pqON47lha_border-left-style)
    var(--mixin-d-4pqON47lha_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-epAYtRjCy1J2_font-family);
  border-radius: var(--mixin-epAYtRjCy1J2_border-top-left-radius)
    var(--mixin-epAYtRjCy1J2_border-top-right-radius)
    var(--mixin-epAYtRjCy1J2_border-bottom-right-radius)
    var(--mixin-epAYtRjCy1J2_border-bottom-left-radius);
  padding: var(--mixin-epAYtRjCy1J2_padding-top)
    var(--mixin-epAYtRjCy1J2_padding-right)
    var(--mixin-epAYtRjCy1J2_padding-bottom)
    var(--mixin-epAYtRjCy1J2_padding-left);
  border-top: var(--mixin-epAYtRjCy1J2_border-top-width)
    var(--mixin-epAYtRjCy1J2_border-top-style)
    var(--mixin-epAYtRjCy1J2_border-top-color);
  border-right: var(--mixin-epAYtRjCy1J2_border-right-width)
    var(--mixin-epAYtRjCy1J2_border-right-style)
    var(--mixin-epAYtRjCy1J2_border-right-color);
  border-bottom: var(--mixin-epAYtRjCy1J2_border-bottom-width)
    var(--mixin-epAYtRjCy1J2_border-bottom-style)
    var(--mixin-epAYtRjCy1J2_border-bottom-color);
  border-left: var(--mixin-epAYtRjCy1J2_border-left-width)
    var(--mixin-epAYtRjCy1J2_border-left-style)
    var(--mixin-epAYtRjCy1J2_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-5olbzNECzFUy_display);
  flex-direction: var(--mixin-5olbzNECzFUy_flex-direction);
  align-items: var(--mixin-5olbzNECzFUy_align-items);
  justify-content: var(--mixin-5olbzNECzFUy_justify-content);
  list-style-position: var(--mixin-5olbzNECzFUy_list-style-position);
  padding-left: var(--mixin-5olbzNECzFUy_padding-left);
  position: var(--mixin-5olbzNECzFUy_position);
  list-style-type: var(--mixin-5olbzNECzFUy_list-style-type);
  flex-column-gap: var(--mixin-5olbzNECzFUy_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-VEskhuP8L1rA_display);
  flex-direction: var(--mixin-VEskhuP8L1rA_flex-direction);
  align-items: var(--mixin-VEskhuP8L1rA_align-items);
  justify-content: var(--mixin-VEskhuP8L1rA_justify-content);
  list-style-position: var(--mixin-VEskhuP8L1rA_list-style-position);
  padding-left: var(--mixin-VEskhuP8L1rA_padding-left);
  position: var(--mixin-VEskhuP8L1rA_position);
  list-style-type: var(--mixin-VEskhuP8L1rA_list-style-type);
  flex-column-gap: var(--mixin-VEskhuP8L1rA_flex-column-gap);
}
