.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
.header:global(.__wab_instance) {
  position: relative;
}
.pageBanerSection {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(#363636c4, #363636c4),
    url("/plasmic/neuro_hub/images/baerMainJpg.jpg") left 50% bottom 70% / cover repeat;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  border-top-width: 0px;
  border-right-width: 100px;
  border-bottom-width: 0px;
  border-left-width: 100px;
  min-width: 0;
  border-radius: 0px;
  padding: 80px 20px;
  border-style: solid;
  border-color: var(--token--3vyRdkMo0SP);
}
@media (min-width: 0px) and (max-width: 767px) {
  .pageBanerSection {
    border-top-width: 0px;
    border-right-width: 10px;
    border-bottom-width: 0px;
    border-left-width: 10px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    max-width: 100%;
    background: linear-gradient(#363636c4, #363636c4),
      url("/plasmic/neuro_hub/images/woman32879561920Jpg.jpg") top 50% left 50% / cover repeat;
    transform: translateX(0px) translateY(0px) translateZ(0px);
    min-width: 0;
    border-radius: 0px;
    padding: 80px 20px;
    border-style: solid;
    border-color: var(--token--3vyRdkMo0SP);
  }
}
.freeBox__dTJo7 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: var(--token-WaHsQhkWfB86);
  min-width: 0;
  padding: var(--token-nYdLj2DLL6A1);
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #efefef;
  min-width: 0;
  padding: 80px 20px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .section {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    max-width: 100%;
    background: #efefef;
    min-width: 0;
    padding: 80px 20px;
  }
}
.freeBox___26R4D {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: var(--token-WaHsQhkWfB86);
  min-width: 0;
  padding: 0px;
}
.freeBox__zEg {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__zEg {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    max-width: 100%;
    min-width: 0;
    padding: 8px;
  }
}
.freeBox__lsWgc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  align-self: auto;
  overflow: visible;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBox__lsWgc > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__lsWgc > :global(.__wab_flex-container) > *,
.freeBox__lsWgc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lsWgc > :global(.__wab_flex-container) > picture > img,
.freeBox__lsWgc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  flex-grow: 1;
  margin-top: calc(0px + 0px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.columns > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 25px);
  width: calc(100% + 25px);
  --plsmc-rc-col-gap: 25px;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 25px;
  margin-top: 40px;
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    display: flex;
    position: relative;
    flex-shrink: 1;
    flex-grow: 1;
    margin-top: calc(0px + 0px) !important;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    min-width: 0;
    padding: 34px 0px 0px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    min-width: 0;
    margin-left: calc(0px - 25px);
    width: calc(100% + 25px);
    --plsmc-rc-col-gap: 25px;
    margin-top: calc(0px - 25px);
    height: calc(100% + 25px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 25px;
    margin-top: 25px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__u2FZm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.caseStudiesWraper__cuaD:global(.__wab_instance) {
  position: relative;
}
.img__pkg6R {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__pkg6R > picture > img {
  object-fit: cover;
}
.h3__aRk3R {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(0px + 9px) !important;
  min-width: 0;
}
.text__poiKz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.button__dVNwP:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  height: 52px;
  margin-top: calc(9px + 9px) !important;
}
.svg__r2Mu5 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___2UM7E {
  font-size: 17px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}
.svg__pMPy2 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__daret {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.caseStudiesWraper__uzVcM:global(.__wab_instance) {
  position: relative;
}
.img__pt2CY {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__pt2CY > picture > img {
  object-fit: cover;
}
.h3__eGi4C {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(0px + 9px) !important;
  min-width: 0;
}
.text__yv9Hk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.button__ffcOy:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  height: 52px;
  margin-top: calc(9px + 9px) !important;
}
.svg__pGnW1 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__uvzzc {
  font-size: 17px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}
.svg__x1Kf {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__xz9PF {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.caseStudiesWraper__mEqs6:global(.__wab_instance) {
  position: relative;
}
.img__cKa9E {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__cKa9E > picture > img {
  object-fit: cover;
}
.h3__u0Mn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(0px + 9px) !important;
  min-width: 0;
}
.text__uM1O2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.button__s4Xfw:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  height: 52px;
  margin-top: calc(9px + 9px) !important;
}
.svg__g2Ivz {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__akMuC {
  font-size: 17px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}
.svg__f2Usg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__ttwsi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.caseStudiesWraper__tAf0F:global(.__wab_instance) {
  position: relative;
}
.img__qdP0W {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__qdP0W > picture > img {
  object-fit: cover;
}
.h3___8I8IP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(0px + 9px) !important;
  min-width: 0;
}
.text__qrXGb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.button__r2PPz:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  height: 52px;
  margin-top: calc(9px + 9px) !important;
}
.svg__caGm5 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__lbc8L {
  font-size: 17px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}
.svg__j3YF0 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__ffFoM {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.caseStudiesWraper__m8T8R:global(.__wab_instance) {
  position: relative;
}
.img__pfO9S {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__pfO9S > picture > img {
  object-fit: cover;
}
.h3__u0NJi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(0px + 9px) !important;
  min-width: 0;
}
.text__yDhwU {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.button__iWbfP:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  height: 52px;
  margin-top: calc(9px + 9px) !important;
}
.svg___8BPhu {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__mRcCl {
  font-size: 17px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}
.svg__aJjXb {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column___7Smjn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.caseStudiesWraper__ip1OK:global(.__wab_instance) {
  position: relative;
}
.img__jNKa {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__jNKa > picture > img {
  object-fit: cover;
}
.h3__hTHkI {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(0px + 9px) !important;
  min-width: 0;
}
.text__b30TY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.button__dnQXj:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  height: 52px;
  margin-top: calc(9px + 9px) !important;
}
.svg__z3Jf7 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__hbeJb {
  font-size: 17px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}
.svg__sbjN {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column___5WM6R {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.caseStudiesWraper__yPrfc:global(.__wab_instance) {
  position: relative;
}
.img__pmhwW {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__pmhwW > picture > img {
  object-fit: cover;
}
.h3__rMt5V {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(0px + 9px) !important;
  min-width: 0;
}
.text__kGlcB {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.button___6Sved:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  height: 52px;
  margin-top: calc(9px + 9px) !important;
}
.svg__eqBfJ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__iHqFw {
  font-size: 17px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}
.svg__g5LcO {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__atfmq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.caseStudiesWraper___7Py3W:global(.__wab_instance) {
  position: relative;
}
.img__qpd4S {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__qpd4S > picture > img {
  object-fit: cover;
}
.h3___60Ept {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(0px + 9px) !important;
  min-width: 0;
}
.text___5PpK8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.button__iRUup:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  height: 52px;
  margin-top: calc(9px + 9px) !important;
}
.svg__ndYhu {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___70AuK {
  font-size: 17px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}
.svg___41TMp {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.ctaBottom:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 767px) {
  .ctaBottom:global(.__wab_instance) {
    position: relative;
  }
}
.footer:global(.__wab_instance) {
  position: relative;
}
