.ariaTextArea:global(.__wab_instance) {
  box-sizing: border-box;
  object-fit: cover;
  position: relative;
  box-shadow: inset 0px 0px 0px 1px var(--token-RCNEhowFmpAj);
  font-size: var(--token-TrwQRdyCpnli);
  line-height: var(--token-ktIC-L9WMK2O);
  width: 100%;
  color: var(--token-JJkiaZ2lc7C5);
  font-family: var(--token-5AwodBIimI2W);
  min-width: 0;
  border-radius: var(--token-e3sbgq6QmES4);
  padding: var(--token-e3sbgq6QmES4) var(--token-euYcsWTPRfzA);
  border-style: none;
}
.ariaTextArea[data-focused]:global(.__wab_instance) {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--token-SaPsqIzkU1y4);
  outline-offset: 1px;
}
.ariaTextArea[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.ariaTextAreatype_soft:global(.__wab_instance) {
  background: var(--token-NtYKsxN_2K4b);
  box-shadow: none;
}
.ariaTextAreatype_soft[data-hovered]:global(.__wab_instance) {
  background: var(--token-FL56OwBCTQg2);
}
.ariaTextAreatype_plain:global(.__wab_instance) {
  box-shadow: none;
}
.ariaTextAreatype_plain[data-hovered]:global(.__wab_instance) {
  background: var(--token-NtYKsxN_2K4b);
}
.ariaTextAreaflat_top:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.ariaTextAreaflat_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaTextAreaflat_bottom:global(.__wab_instance) {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaTextAreaflat_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.ariaTextAreapadded_left:global(.__wab_instance) {
  padding-left: var(--token-KuN8DLd3m5x_);
}
.ariaTextAreapadded_right:global(.__wab_instance) {
  padding-right: var(--token-KuN8DLd3m5x_);
}
