.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-SaPsqIzkU1y4);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-Ckx8kMtgdm6j);
  font-family: var(--token-5AwodBIimI2W);
  font-size: var(--token-TrwQRdyCpnli);
  line-height: var(--token-ktIC-L9WMK2O);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-e3sbgq6QmES4);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-KqTRx-lFEZNp);
  outline-offset: 1px;
  outline-color: var(--token-SaPsqIzkU1y4);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-jTGnNFS6oOFO);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-HmLLzNINPyjd);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-yIe-60YkVfZ-);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-vWVBX73OsH1E);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-oj5fbPgKezcY);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-kN6xeGi2G-e2);
  font-size: var(--token-QBlAE-_q0L6m);
  column-gap: var(--token-KqTRx-lFEZNp);
  row-gap: 0px;
  border-radius: var(--token-VMnOJU9C_XVa);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-QBlAE-_q0L6m);
  line-height: var(--token-kN6xeGi2G-e2);
  column-gap: var(--token-VMnOJU9C_XVa);
  row-gap: 0px;
  border-radius: var(--token-VMnOJU9C_XVa);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-U71TgvWbCGEd);
  line-height: var(--token-pjrtY_Fe7K1p);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-U71TgvWbCGEd);
  line-height: var(--token-pjrtY_Fe7K1p);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-2KhmfQAQTR7g);
  border-radius: var(--token-e3sbgq6QmES4);
}
.softBackgroundcolor_neutral {
  background: var(--token-LwkeuC9C1Cb3);
}
.softBackgroundcolor_muted {
  background: var(--token-NtYKsxN_2K4b);
}
.softBackgroundcolor_success {
  background: var(--token-XR-5C7SggV44);
}
.softBackgroundcolor_warning {
  background: var(--token-EAHFqqbyOqN4);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-8MkBb-oQWifs);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-e3sbgq6QmES4);
  border: 0px solid var(--token-Iq1Y9bJtxOUJ);
}
.bordercolor_neutral {
  border-color: var(--token-v7ZdQRE9DVL1);
}
.bordercolor_muted {
  border-color: var(--token-sUyvP8AWt87K);
}
.bordercolor_success {
  border-color: var(--token-Nd7GsdXFmN5g);
}
.bordercolor_warning {
  border-color: var(--token-6WQnUA-rom-S);
}
.bordercolor_errorDestructive {
  border-color: var(--token-a4mo_aD92pEV);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-e3sbgq6QmES4);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-_CF_ZqCN1_UN);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-JeSgSRC220M3);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-fXRvReJyFsr2);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__f7AKe {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  min-width: 0;
  min-height: 0;
  padding: var(--token-e3sbgq6QmES4) var(--token-euYcsWTPRfzA);
}
.freeBox__f7AKe > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-e3sbgq6QmES4));
  width: calc(100% + var(--token-e3sbgq6QmES4));
}
.freeBox__f7AKe > :global(.__wab_flex-container) > *,
.freeBox__f7AKe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__f7AKe > :global(.__wab_flex-container) > picture > img,
.freeBox__f7AKe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-e3sbgq6QmES4);
}
.freeBoxsize_extraSmall__f7AKEzPcYx {
  padding: var(--token-VMnOJU9C_XVa) var(--token-e3sbgq6QmES4);
}
.freeBoxsize_small__f7AKeBeXXj {
  padding: var(--token-e3sbgq6QmES4) var(--token-Ckx8kMtgdm6j);
}
.freeBoxsize_large__f7AKeo31Hb {
  padding-top: var(--token-VMnOJU9C_XVa);
  padding-bottom: var(--token-VMnOJU9C_XVa);
}
.freeBoxsize_extraLarge__f7AKeGykhT {
  padding-left: var(--token-GbCj6zBHvKwQ);
  padding-right: var(--token-GbCj6zBHvKwQ);
}
.freeBoxroundedFull__f7AKEiz7Rh {
  padding-right: var(--token-GbCj6zBHvKwQ);
  padding-left: var(--token-GbCj6zBHvKwQ);
}
.freeBox__a5VOr {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__a5VOrQrs1E {
  display: flex;
}
.slotTargetStart {
  color: var(--token-bWG2uOgsVuQj);
}
.slotTargetStartcolor_neutral {
  color: var(--token-s6Bwu1A1VeYQ);
}
.slotTargetStartcolor_muted {
  color: var(--token-mYWYgYiR7zl1);
}
.slotTargetStartcolor_success {
  color: var(--token-xn1xoZFXtIAx);
}
.slotTargetStartcolor_warning {
  color: var(--token--mStlAKsz2XG);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-BjcyzLNLRBtu);
}
.slotTargetStarttype_soft {
  color: var(--token-89nAp1UPj5LT);
}
.slotTargetStarttype_bordered {
  color: var(--token-89nAp1UPj5LT);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-QBlAE-_q0L6m);
}
.slotTargetStartsize_small {
  font-size: var(--token-QBlAE-_q0L6m);
}
.slotTargetStartsize_large {
  font-size: var(--token-U71TgvWbCGEd);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-U71TgvWbCGEd);
}
.slotTargetStartcolor_neutral_type_soft {
  color: var(--token-pLvSZtDXWFwA);
}
.slotTargetStartcolor_neutral_type_bordered {
  color: var(--token-pLvSZtDXWFwA);
}
.slotTargetStartcolor_muted_type_soft {
  color: var(--token-s13IfVqMuWd8);
}
.slotTargetStartcolor_muted_type_bordered {
  color: var(--token-s13IfVqMuWd8);
}
.slotTargetStartcolor_success_type_soft {
  color: var(--token-rVy4IJEn6-4-);
}
.slotTargetStartcolor_success_type_bordered {
  color: var(--token-rVy4IJEn6-4-);
}
.slotTargetStartcolor_warning_type_soft {
  color: var(--token-SnvQoKjeEr01);
}
.slotTargetStartcolor_warning_type_bordered {
  color: var(--token-SnvQoKjeEr01);
}
.slotTargetStartcolor_errorDestructive_type_soft {
  color: var(--token-rke-JAd2uOrP);
}
.slotTargetStartcolor_errorDestructive_type_bordered {
  color: var(--token-rke-JAd2uOrP);
}
.svg__nQZn {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-bWG2uOgsVuQj);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-s6Bwu1A1VeYQ);
}
.slotTargetLabelcolor_muted {
  color: var(--token-mYWYgYiR7zl1);
}
.slotTargetLabelcolor_success {
  color: var(--token-xn1xoZFXtIAx);
}
.slotTargetLabelcolor_warning {
  color: var(--token--mStlAKsz2XG);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-BjcyzLNLRBtu);
}
.slotTargetLabeltype_soft {
  color: var(--token-89nAp1UPj5LT);
}
.slotTargetLabeltype_bordered {
  color: var(--token-89nAp1UPj5LT);
}
.slotTargetLabelcolor_neutral_type_soft {
  color: var(--token-pLvSZtDXWFwA);
}
.slotTargetLabelcolor_muted_type_soft {
  color: var(--token-s13IfVqMuWd8);
}
.slotTargetLabelcolor_neutral_type_bordered {
  color: var(--token-pLvSZtDXWFwA);
}
.slotTargetLabelcolor_success_type_soft {
  color: var(--token-rVy4IJEn6-4-);
}
.slotTargetLabelcolor_muted_type_bordered {
  color: var(--token-s13IfVqMuWd8);
}
.slotTargetLabelcolor_warning_type_soft {
  color: var(--token-SnvQoKjeEr01);
}
.slotTargetLabelcolor_success_type_bordered {
  color: var(--token-rVy4IJEn6-4-);
}
.slotTargetLabelcolor_errorDestructive_type_soft {
  color: var(--token-rke-JAd2uOrP);
}
.slotTargetLabelcolor_warning_type_bordered {
  color: var(--token-SnvQoKjeEr01);
}
.slotTargetLabelcolor_errorDestructive_type_bordered {
  color: var(--token-rke-JAd2uOrP);
}
.text__aT5XT {
  white-space: pre;
}
.freeBox__oWlIe {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__oWlIet6YvB {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-bWG2uOgsVuQj);
}
.slotTargetEndcolor_neutral {
  color: var(--token-s6Bwu1A1VeYQ);
}
.slotTargetEndcolor_muted {
  color: var(--token-mYWYgYiR7zl1);
}
.slotTargetEndcolor_success {
  color: var(--token-xn1xoZFXtIAx);
}
.slotTargetEndcolor_warning {
  color: var(--token--mStlAKsz2XG);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-BjcyzLNLRBtu);
}
.slotTargetEndtype_soft {
  color: var(--token-89nAp1UPj5LT);
}
.slotTargetEndtype_bordered {
  color: var(--token-89nAp1UPj5LT);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-QBlAE-_q0L6m);
}
.slotTargetEndsize_small {
  font-size: var(--token-QBlAE-_q0L6m);
}
.slotTargetEndsize_large {
  font-size: var(--token-U71TgvWbCGEd);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-U71TgvWbCGEd);
}
.slotTargetEndcolor_neutral_type_soft {
  color: var(--token-pLvSZtDXWFwA);
}
.slotTargetEndcolor_neutral_type_bordered {
  color: var(--token-pLvSZtDXWFwA);
}
.slotTargetEndcolor_muted_type_soft {
  color: var(--token-s13IfVqMuWd8);
}
.slotTargetEndcolor_muted_type_bordered {
  color: var(--token-s13IfVqMuWd8);
}
.slotTargetEndcolor_success_type_soft {
  color: var(--token-rVy4IJEn6-4-);
}
.slotTargetEndcolor_success_type_bordered {
  color: var(--token-rVy4IJEn6-4-);
}
.slotTargetEndcolor_warning_type_soft {
  color: var(--token-SnvQoKjeEr01);
}
.slotTargetEndcolor_warning_type_bordered {
  color: var(--token-SnvQoKjeEr01);
}
.slotTargetEndcolor_errorDestructive_type_soft {
  color: var(--token-rke-JAd2uOrP);
}
.slotTargetEndcolor_errorDestructive_type_bordered {
  color: var(--token-rke-JAd2uOrP);
}
.svg__oe53A {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
