.ariaSlider:global(.__wab_instance) {
  position: relative;
  box-sizing: border-box;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  color: var(--token-JJkiaZ2lc7C5);
  font-family: var(--token-5AwodBIimI2W);
  font-size: var(--token-TrwQRdyCpnli);
  line-height: var(--token-ktIC-L9WMK2O);
  width: 100%;
  row-gap: var(--token-GbCj6zBHvKwQ);
}
.ariaSlider[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.freeBox__wksG7 {
  display: flex;
  flex-direction: row;
}
.freeBox__wksG7 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  margin-left: calc(0px - var(--token-Ckx8kMtgdm6j));
  width: calc(100% + var(--token-Ckx8kMtgdm6j));
}
.freeBox__wksG7 > :global(.__wab_flex-container) > *,
.freeBox__wksG7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wksG7 > :global(.__wab_flex-container) > picture > img,
.freeBox__wksG7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Ckx8kMtgdm6j);
}
.text__wdG7G {
  position: relative;
}
.freeBox__vkLco {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  padding-top: var(--token-e3sbgq6QmES4);
  padding-bottom: var(--token-e3sbgq6QmES4);
  width: 100%;
  min-width: 0;
}
.background {
  display: flex;
  background: var(--token-RdSJvrjxTlbG);
  height: var(--token-Ckx8kMtgdm6j);
  width: 100%;
  min-width: 0;
  border-radius: 99px;
}
.ariaSliderTrack:global(.__wab_instance) {
  cursor: pointer;
  opacity: 1;
  box-sizing: border-box;
  background: none;
  height: var(--token-Ckx8kMtgdm6j);
  width: 100%;
  min-width: 0;
}
.ariaSlider[data-disabled] .ariaSliderTrack:global(.__wab_instance) {
  cursor: not-allowed;
}
.sliderThumb__uhVjc:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  margin-top: var(--token-VMnOJU9C_XVa);
}
.foreground {
  display: block;
  background: var(--token-SaPsqIzkU1y4);
  height: var(--token-Ckx8kMtgdm6j);
  border-radius: 99px 0rem 0rem 99px;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
