.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
.header:global(.__wab_instance) {
  position: relative;
}
.pageBanerSection {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(#363636c4, #363636c4),
    url("/plasmic/neuro_hub/images/baerMainJpg.jpg") left 50% bottom 70% / cover repeat;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  border-top-width: 0px;
  border-right-width: 100px;
  border-bottom-width: 0px;
  border-left-width: 100px;
  min-width: 0;
  border-radius: 0px;
  padding: 80px 20px;
  border-style: solid;
  border-color: var(--token--3vyRdkMo0SP);
}
@media (min-width: 0px) and (max-width: 767px) {
  .pageBanerSection {
    border-top-width: 0px;
    border-right-width: 10px;
    border-bottom-width: 0px;
    border-left-width: 10px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    max-width: 100%;
    background: linear-gradient(#363636c4, #363636c4),
      url("/plasmic/neuro_hub/images/woman32879561920Jpg.jpg") top 50% left 50% / cover repeat;
    transform: translateX(0px) translateY(0px) translateZ(0px);
    min-width: 0;
    border-radius: 0px;
    padding: 80px 20px;
    border-style: solid;
    border-color: var(--token--3vyRdkMo0SP);
  }
}
.freeBox__leY2A {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: var(--token-WaHsQhkWfB86);
  min-width: 0;
  padding: var(--token-nYdLj2DLL6A1);
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.section__vmVft {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #eeeeee;
  min-width: 0;
  padding: 60px 15px;
}
.freeBox__byETt {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: var(--token-WaHsQhkWfB86);
  min-width: 0;
  padding: var(--token-nYdLj2DLL6A1);
}
.columns__nQk1D {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.columns__nQk1D > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__nQk1D > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__nQk1D {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__nQk1D > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__oCdxs {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  background: #ffffff;
  min-width: 0;
  padding: 8px;
}
.freeBox__bWZv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 30px;
}
.freeBox__bWZv > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__bWZv > :global(.__wab_flex-container) > *,
.freeBox__bWZv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bWZv > :global(.__wab_flex-container) > picture > img,
.freeBox__bWZv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.h2__j7LZ0 {
  text-align: center;
  margin-top: calc(0px + 12px) !important;
}
.text__d8TwC {
  text-align: left;
  max-width: 667px;
  width: 100%;
  min-width: 0;
}
.text__ghvbW {
  text-align: left;
  max-width: 667px;
  width: 100%;
  min-width: 0;
}
.column__mMKfx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__zzKn {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__zzKn > picture > img {
  object-fit: cover;
}
.section__kflTz {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(#00000085, #00000085),
    url("/plasmic/neuro_hub/images/girl18484541920Jpg.jpg") top 50% left 50% / cover repeat fixed;
  min-width: 0;
  padding: 80px 20px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .section__kflTz {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    max-width: 100%;
    background: var(--token-QPQ3-pmIN9SW);
    min-width: 0;
    padding: 80px 20px;
  }
}
.freeBox__sSm8X {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: var(--token-WaHsQhkWfB86);
  min-width: 0;
  padding: var(--token-nYdLj2DLL6A1);
}
.freeBox__sSm8X > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 19px);
  height: calc(100% + 19px);
}
.freeBox__sSm8X > :global(.__wab_flex-container) > *,
.freeBox__sSm8X > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sSm8X > :global(.__wab_flex-container) > picture > img,
.freeBox__sSm8X
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 19px;
}
.freeBox__gNi6Q {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__gNi6Q {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    max-width: 100%;
    min-width: 0;
    padding: 8px;
  }
}
.freeBox__uuuiH {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  align-self: auto;
  overflow: visible;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBox__uuuiH > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__uuuiH > :global(.__wab_flex-container) > *,
.freeBox__uuuiH > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uuuiH > :global(.__wab_flex-container) > picture > img,
.freeBox__uuuiH
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.h2__lKnt1 {
  text-align: center;
  color: var(--token-09vH_5U6rRbV);
  margin-top: calc(0px + 12px) !important;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h2__lKnt1 {
    text-align: center;
    margin-top: calc(0px + 12px) !important;
  }
}
.columns___2HbIi {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  flex-grow: 1;
  margin-top: calc(0px + 12px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 34px 0px 0px;
}
.columns___2HbIi > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 25px);
  width: calc(100% + 25px);
  --plsmc-rc-col-gap: 25px;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.columns___2HbIi > :global(.__wab_flex-container) > *,
.columns___2HbIi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns___2HbIi > :global(.__wab_flex-container) > picture > img,
.columns___2HbIi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 25px;
  margin-top: 25px;
}
.columns___2HbIi > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns___2HbIi > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns___2HbIi {
    width: 100%;
    height: auto;
    flex-direction: row;
    display: flex;
    position: relative;
    flex-shrink: 1;
    flex-grow: 1;
    margin-top: calc(0px + 12px) !important;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    min-width: 0;
    padding: 34px 0px 0px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns___2HbIi > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    min-width: 0;
    margin-left: calc(0px - 25px);
    width: calc(100% + 25px);
    --plsmc-rc-col-gap: 25px;
    margin-top: calc(0px - 25px);
    height: calc(100% + 25px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns___2HbIi > :global(.__wab_flex-container) > *,
  .columns___2HbIi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns___2HbIi > :global(.__wab_flex-container) > picture > img,
  .columns___2HbIi
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 25px;
    margin-top: 25px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns___2HbIi > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__tBcWc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__tNW {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  background: var(--token--3vyRdkMo0SP);
  box-shadow: 0px 4px 16px 0px #0000000f;
  min-width: 0;
  padding: 30px;
}
.freeBox__tNW > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__tNW > :global(.__wab_flex-container) > *,
.freeBox__tNW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tNW > :global(.__wab_flex-container) > picture > img,
.freeBox__tNW
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__sV1E {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__sV1E > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__sV1E > :global(.__wab_flex-container) > *,
.freeBox__sV1E > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sV1E > :global(.__wab_flex-container) > picture > img,
.freeBox__sV1E
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.h3__bbiR {
  color: var(--token-09vH_5U6rRbV);
  margin-top: calc(0px + 12px) !important;
}
.text__t2Qis {
  color: var(--token-09vH_5U6rRbV);
}
.column__vNqEw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__idnW6 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  background: var(--token-09vH_5U6rRbV);
  box-shadow: 0px 4px 16px 0px #0000000f;
  min-width: 0;
  padding: 30px;
}
.freeBox__idnW6 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__idnW6 > :global(.__wab_flex-container) > *,
.freeBox__idnW6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__idnW6 > :global(.__wab_flex-container) > picture > img,
.freeBox__idnW6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox___4AWy3 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox___4AWy3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox___4AWy3 > :global(.__wab_flex-container) > *,
.freeBox___4AWy3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4AWy3 > :global(.__wab_flex-container) > picture > img,
.freeBox___4AWy3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.h3__teJKz {
  margin-top: calc(0px + 12px) !important;
}
.companiesSection {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 80px 20px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .companiesSection {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    max-width: 100%;
    min-width: 0;
    padding: 80px 20px;
  }
}
.container2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: var(--token-WaHsQhkWfB86);
  padding: var(--token-nYdLj2DLL6A1);
}
.container2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 35px);
  height: calc(100% + 35px);
}
.container2 > :global(.__wab_flex-container) > *,
.container2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container2 > :global(.__wab_flex-container) > picture > img,
.container2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 35px;
}
.h2__bOg2Q {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(0px + 35px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  text-align: center;
  color: var(--token-QPQ3-pmIN9SW);
  min-width: 0;
}
.freeBox__ad0Of {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__ad0Of {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-width: 0;
    padding: 0px;
  }
}
.freeBox__lSxeg {
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  max-width: none;
  flex-direction: row;
}
.freeBox__lSxeg > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__lSxeg > :global(.__wab_flex-container) > *,
.freeBox__lSxeg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lSxeg > :global(.__wab_flex-container) > picture > img,
.freeBox__lSxeg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__lSxeg {
    display: flex;
    position: relative;
    left: auto;
    top: auto;
    max-width: none;
    flex-direction: row;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__lSxeg > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: calc(0px - 64px);
    width: calc(100% + 64px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__lSxeg > :global(.__wab_flex-container) > *,
  .freeBox__lSxeg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__lSxeg > :global(.__wab_flex-container) > picture > img,
  .freeBox__lSxeg
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 64px;
    margin-top: 32px;
  }
}
.img__pxTs2 {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__pxTs2 > picture > img {
  object-fit: cover;
}
.img__rzq1R {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__rzq1R > picture > img {
  object-fit: cover;
}
.img__fszPy {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__fszPy > picture > img {
  object-fit: cover;
}
.img__lReh {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__lReh > picture > img {
  object-fit: cover;
}
.ctaBottom:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 767px) {
  .ctaBottom:global(.__wab_instance) {
    position: relative;
  }
}
.footer:global(.__wab_instance) {
  position: relative;
}
