.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
.header:global(.__wab_instance) {
  position: relative;
}
.pageBanerSection {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(#363636c4, #363636c4),
    url("/plasmic/neuro_hub/images/woman32879561920Jpg.jpg") top 50% left 50% / cover repeat;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  border-top-width: 0px;
  border-right-width: 100px;
  border-bottom-width: 0px;
  border-left-width: 100px;
  min-width: 0;
  border-radius: 0px;
  padding: 80px 20px;
  border-style: solid;
  border-color: var(--token--3vyRdkMo0SP);
}
@media (min-width: 0px) and (max-width: 767px) {
  .pageBanerSection {
    border-top-width: 0px;
    border-right-width: 10px;
    border-bottom-width: 0px;
    border-left-width: 10px;
  }
}
.freeBox__krR2F {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: var(--token-WaHsQhkWfB86);
  min-width: 0;
  padding: var(--token-nYdLj2DLL6A1);
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.section__f5BlC {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #efefef;
  min-width: 0;
  padding: 80px 20px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .section__f5BlC {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    max-width: 100%;
    background: #efefef;
    min-width: 0;
    padding: 26px 20px 41px;
  }
}
.freeBox__mCxaa {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: var(--token-WaHsQhkWfB86);
  min-width: 0;
  padding: var(--token-nYdLj2DLL6A1);
}
.freeBox___1QY4E {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox___1QY4E {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    max-width: 100%;
    min-width: 0;
    padding: 8px;
  }
}
.freeBox__kpeaq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  align-self: auto;
  overflow: visible;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBox__kpeaq > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__kpeaq > :global(.__wab_flex-container) > *,
.freeBox__kpeaq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kpeaq > :global(.__wab_flex-container) > picture > img,
.freeBox__kpeaq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.columns__vhJ2R {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  flex-grow: 1;
  margin-top: calc(0px + 0px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.columns__vhJ2R > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 25px);
  width: calc(100% + 25px);
  --plsmc-rc-col-gap: 25px;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.columns__vhJ2R > :global(.__wab_flex-container) > *,
.columns__vhJ2R > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__vhJ2R > :global(.__wab_flex-container) > picture > img,
.columns__vhJ2R
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 25px;
  margin-top: 25px;
}
.columns__vhJ2R > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__vhJ2R > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__vhJ2R > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__vhJ2R {
    width: 100%;
    height: auto;
    flex-direction: row;
    display: flex;
    position: relative;
    flex-shrink: 1;
    flex-grow: 1;
    margin-top: calc(0px + 0px) !important;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    min-width: 0;
    padding: 34px 0px 0px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__vhJ2R > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    min-width: 0;
    margin-left: calc(0px - 25px);
    width: calc(100% + 25px);
    --plsmc-rc-col-gap: 25px;
    margin-top: calc(0px - 25px);
    height: calc(100% + 25px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__vhJ2R > :global(.__wab_flex-container) > *,
  .columns__vhJ2R > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__vhJ2R > :global(.__wab_flex-container) > picture > img,
  .columns__vhJ2R
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 25px;
    margin-top: 25px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__vhJ2R > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__lxu3I {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.servicesWhite__ojf4G:global(.__wab_instance) {
  position: relative;
}
.svg___8Js9A {
  object-fit: cover;
  color: #ffffff;
  width: 26px;
  height: 28px;
}
.column__vaRf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.servicesWhite__nl7M5:global(.__wab_instance) {
  position: relative;
}
.svg__olzHi {
  object-fit: cover;
  color: #ffffff;
  width: 26px;
  height: 28px;
}
.column__hoPta {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.servicesWhite___5Gzh:global(.__wab_instance) {
  position: relative;
}
.svg__ercP {
  object-fit: cover;
  color: #ffffff;
  width: 26px;
  height: 28px;
}
.column__md5Re {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.servicesWhite__v9Qek:global(.__wab_instance) {
  position: relative;
}
.svg__kZ3B8 {
  object-fit: cover;
  color: #ffffff;
  width: 26px;
  height: 28px;
}
.column__hMwR {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.servicesWhite__oCShb:global(.__wab_instance) {
  position: relative;
}
.svg__rtxq {
  object-fit: cover;
  color: #ffffff;
  width: 26px;
  height: 28px;
}
.column__fz6Hb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.servicesWhite__tnRmL:global(.__wab_instance) {
  position: relative;
}
.svg___9Oixa {
  object-fit: cover;
  color: #ffffff;
  width: 26px;
  height: 28px;
}
.section__u3Qvw {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: url("/plasmic/neuro_hub/images/woman32879561920Jpg.jpg") left 0% bottom 73.68% / cover fixed;
  min-width: 0;
  padding: 80px 20px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .section__u3Qvw {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    max-width: 100%;
    background: url("/plasmic/neuro_hub/images/woman32879561920Jpg.jpg") top 50% left 50% / cover repeat,
      #efefef;
    min-width: 0;
    padding: 35px 20px 41px;
  }
}
.h2__fv6N3 {
  text-align: center;
  color: var(--token-09vH_5U6rRbV);
}
@media (min-width: 0px) and (max-width: 767px) {
  .h2__fv6N3 {
    text-align: center;
  }
}
.freeBox__vUYqQ {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: var(--token-WaHsQhkWfB86);
  margin-top: 60px;
  min-width: 0;
  padding: var(--token-nYdLj2DLL6A1);
}
.columns__aqi0U {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  flex-grow: 1;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
  margin: 0px;
}
.columns__aqi0U > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
  --plsmc-rc-col-gap: 5px;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.columns__aqi0U > :global(.__wab_flex-container) > *,
.columns__aqi0U > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__aqi0U > :global(.__wab_flex-container) > picture > img,
.columns__aqi0U
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
  margin-top: 5px;
}
.columns__aqi0U > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__aqi0U > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__aqi0U {
    width: 100%;
    height: auto;
    flex-direction: row;
    display: flex;
    position: relative;
    flex-shrink: 1;
    flex-grow: 1;
    min-width: 0;
    padding: 34px 0px 0px;
    margin: 0px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__aqi0U > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    min-width: 0;
    margin-left: calc(0px - 25px);
    width: calc(100% + 25px);
    --plsmc-rc-col-gap: 25px;
    margin-top: calc(0px - 25px);
    height: calc(100% + 25px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__aqi0U > :global(.__wab_flex-container) > *,
  .columns__aqi0U > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__aqi0U > :global(.__wab_flex-container) > picture > img,
  .columns__aqi0U
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 25px;
    margin-top: 25px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__aqi0U > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__y8B3S {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.servicesWhite__fbk8F:global(.__wab_instance) {
  position: relative;
}
.svg__ht6Tv {
  object-fit: cover;
  color: #ffffff;
  width: 26px;
  height: 28px;
}
.column__xktye {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.servicesWhite__l5IcS:global(.__wab_instance) {
  position: relative;
}
.svg__vlIqY {
  object-fit: cover;
  color: #ffffff;
  width: 26px;
  height: 28px;
}
.column__xBo2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.servicesWhite__yEwen:global(.__wab_instance) {
  position: relative;
}
.svg__zvLGs {
  object-fit: cover;
  color: #ffffff;
  width: 26px;
  height: 28px;
}
.column__xanD3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.servicesWhite__sb55A:global(.__wab_instance) {
  position: relative;
}
.svg__nUk2U {
  object-fit: cover;
  color: #ffffff;
  width: 26px;
  height: 28px;
}
.column__q8D1D {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.servicesWhite__jN66X:global(.__wab_instance) {
  position: relative;
}
.svg__fkV4S {
  object-fit: cover;
  color: #ffffff;
  width: 26px;
  height: 28px;
}
.column__ascyl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.servicesWhite__mjL4W:global(.__wab_instance) {
  position: relative;
}
.svg__uvL2N {
  object-fit: cover;
  color: #ffffff;
  width: 26px;
  height: 28px;
}
.section__clDal {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #efefef;
  min-width: 0;
  padding: 80px 20px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .section__clDal {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    max-width: 100%;
    background: #efefef;
    min-width: 0;
    padding: 26px 20px 23px;
  }
}
.freeBox__rcTyc {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: var(--token-WaHsQhkWfB86);
  min-width: 0;
  padding: var(--token-nYdLj2DLL6A1);
}
.freeBox__wBtwg {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__wBtwg {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    max-width: 100%;
    min-width: 0;
    padding: 8px;
  }
}
.freeBox__kuxWu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  align-self: auto;
  overflow: visible;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBox__kuxWu > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__kuxWu > :global(.__wab_flex-container) > *,
.freeBox__kuxWu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kuxWu > :global(.__wab_flex-container) > picture > img,
.freeBox__kuxWu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.columns__d5Eyz {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  flex-grow: 1;
  margin-top: calc(0px + 0px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.columns__d5Eyz > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 25px);
  width: calc(100% + 25px);
  --plsmc-rc-col-gap: 25px;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.columns__d5Eyz > :global(.__wab_flex-container) > *,
.columns__d5Eyz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__d5Eyz > :global(.__wab_flex-container) > picture > img,
.columns__d5Eyz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 25px;
  margin-top: 25px;
}
.columns__d5Eyz > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__d5Eyz > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__d5Eyz > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__d5Eyz {
    width: 100%;
    height: auto;
    flex-direction: row;
    display: flex;
    position: relative;
    flex-shrink: 1;
    flex-grow: 1;
    margin-top: calc(0px + 0px) !important;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    min-width: 0;
    padding: 34px 0px 0px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__d5Eyz > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    min-width: 0;
    margin-left: calc(0px - 25px);
    width: calc(100% + 25px);
    --plsmc-rc-col-gap: 25px;
    margin-top: calc(0px - 25px);
    height: calc(100% + 25px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__d5Eyz > :global(.__wab_flex-container) > *,
  .columns__d5Eyz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__d5Eyz > :global(.__wab_flex-container) > picture > img,
  .columns__d5Eyz
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 25px;
    margin-top: 25px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__d5Eyz > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__ccrNf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.servicesWhite__bnyEq:global(.__wab_instance) {
  position: relative;
}
.svg__th3Dn {
  object-fit: cover;
  color: #ffffff;
  width: 26px;
  height: 28px;
}
.column__dqgU5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.servicesWhite__sT23A:global(.__wab_instance) {
  position: relative;
}
.svg__wjsEd {
  object-fit: cover;
  color: #ffffff;
  width: 26px;
  height: 28px;
}
.column__znu6W {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.servicesWhite__p1Hd:global(.__wab_instance) {
  position: relative;
}
.svg__hx543 {
  object-fit: cover;
  color: #ffffff;
  width: 26px;
  height: 28px;
}
.column___8TsOd {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.servicesWhite__ilxj3:global(.__wab_instance) {
  position: relative;
}
.svg__vsdYi {
  object-fit: cover;
  color: #ffffff;
  width: 26px;
  height: 28px;
}
.column__kmEu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.servicesWhite__cno9:global(.__wab_instance) {
  position: relative;
}
.svg___49VM {
  object-fit: cover;
  color: #ffffff;
  width: 26px;
  height: 28px;
}
.column__rzCm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.servicesWhite__udei9:global(.__wab_instance) {
  position: relative;
}
.svg__vUWfc {
  object-fit: cover;
  color: #ffffff;
  width: 26px;
  height: 28px;
}
.section__rz98L {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: none;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBox__x911Y {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: var(--token-WaHsQhkWfB86);
  background: none;
  margin-top: 80px;
  margin-bottom: 80px;
  min-width: 0;
  padding: var(--token-nYdLj2DLL6A1);
}
.freeBox__pGuR {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__vAdLx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  align-self: auto;
  overflow: hidden;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBox__vAdLx > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__vAdLx > :global(.__wab_flex-container) > *,
.freeBox__vAdLx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vAdLx > :global(.__wab_flex-container) > picture > img,
.freeBox__vAdLx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.columns__s5Npu {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  flex-grow: 1;
  margin-top: calc(0px + 0px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 1px 0px 0px;
}
.columns__s5Npu > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  --plsmc-rc-col-gap: 0px;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.columns__s5Npu > :global(.__wab_flex-container) > *,
.columns__s5Npu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__s5Npu > :global(.__wab_flex-container) > picture > img,
.columns__s5Npu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 25px;
}
.columns__s5Npu > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__s5Npu > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__s5Npu {
    width: 100%;
    height: auto;
    flex-direction: row;
    display: flex;
    position: relative;
    flex-shrink: 1;
    flex-grow: 1;
    margin-top: calc(0px + 0px) !important;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    min-width: 0;
    padding: 1px 0px 0px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__s5Npu > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    --plsmc-rc-col-gap: 0px;
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__s5Npu > :global(.__wab_flex-container) > *,
  .columns__s5Npu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__s5Npu > :global(.__wab_flex-container) > picture > img,
  .columns__s5Npu
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__s5Npu > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__vOiZ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  width: 100%;
  transform: none;
  min-width: 0;
  min-height: 0;
}
.img > picture > img {
  object-fit: cover;
}
.column___11DV {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  background: var(--token-QPQ3-pmIN9SW);
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .column___11DV {
    padding: 5px 30px 30px;
  }
}
.freeBox__yxvKt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 834px;
  height: auto;
  max-width: 100%;
  background: var(--token-QPQ3-pmIN9SW);
  padding: 25px;
}
.freeBox__yxvKt > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__yxvKt > :global(.__wab_flex-container) > *,
.freeBox__yxvKt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yxvKt > :global(.__wab_flex-container) > picture > img,
.freeBox__yxvKt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.h2__dpRqJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-09vH_5U6rRbV);
  margin-top: calc(0px + 20px) !important;
  min-width: 0;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: var(--token-09vH_5U6rRbV);
  min-width: 0;
}
.columns__moxbu {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  flex-grow: 1;
  margin-top: calc(0px + 20px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.columns__moxbu > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 25px);
  width: calc(100% + 25px);
  --plsmc-rc-col-gap: 25px;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.columns__moxbu > :global(.__wab_flex-container) > *,
.columns__moxbu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__moxbu > :global(.__wab_flex-container) > picture > img,
.columns__moxbu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 25px;
  margin-top: 25px;
}
.columns__moxbu > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__moxbu > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__moxbu {
    width: 100%;
    height: auto;
    flex-direction: row;
    display: flex;
    position: relative;
    flex-shrink: 1;
    flex-grow: 1;
    margin-top: calc(0px + 20px) !important;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    min-width: 0;
    padding: 34px 0px 0px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__moxbu > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    min-width: 0;
    margin-left: calc(0px - 25px);
    width: calc(100% + 25px);
    --plsmc-rc-col-gap: 25px;
    margin-top: calc(0px - 25px);
    height: calc(100% + 25px);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__moxbu > :global(.__wab_flex-container) > *,
  .columns__moxbu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__moxbu > :global(.__wab_flex-container) > picture > img,
  .columns__moxbu
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 25px;
    margin-top: 25px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__moxbu > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__ejJa8 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.servicesWhite__tpwbj:global(.__wab_instance) {
  position: relative;
}
.svg__hvCzs {
  object-fit: cover;
  color: #ffffff;
  width: 26px;
  height: 28px;
}
.column__guQoj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.servicesWhite__wbl8M:global(.__wab_instance) {
  position: relative;
}
.svg__jxmpq {
  object-fit: cover;
  color: #ffffff;
  width: 26px;
  height: 28px;
}
.column__c6Ham {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.servicesWhite__uwiJ6:global(.__wab_instance) {
  position: relative;
}
.svg__afnHh {
  object-fit: cover;
  color: #ffffff;
  width: 26px;
  height: 28px;
}
.column___0ELiO {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.servicesWhite__yqsI:global(.__wab_instance) {
  position: relative;
}
.svg__lqe83 {
  object-fit: cover;
  color: #ffffff;
  width: 26px;
  height: 28px;
}
.footer:global(.__wab_instance) {
  position: relative;
}
